*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}
ul {
    list-style-type: none;
}

.navbar {
    display: flex;
    justify-content: start;
    padding: 10px;
    margin-left: 50px;
    
}

.navbtn {
    border: 1px solid black;
    background-color: rgba(159, 159, 201, 0.534);
    padding: 4px;
    margin: 4px;
}

.navbtn:hover {
    background-color: red;
    animation: jump-up 0.5s forwards;
}

@keyframes jump-up {
    0% {
        transform: translateY(0);
    }
   
    100% {
        transform: translateY(-5px);
    }
  }