* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.navbar {    
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;      
}

.subnav {
    margin: 5px;   
    background-color: cyan;  
    font-size: 20px;
    border: none;
    outline: none;
    color: rgb(37, 34, 34);
    padding: 10px;
}

.subnav:hover {
    animation: fade 10s alternate-reverse;   
    animation-name: effect;
    
}

@keyframes effect {
    from,to {
        background-color: rgb(226, 1, 1);
        transform: translate(5px, -5px);
      }    
}