* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
nav {
    position: sticky;
    width: 100%;
    background-color: rgb(24, 158, 19);
}

ul {
    list-style: none;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li {
    font-size: 1.5em;
    list-style: none;
    padding: 2rem;
    color: black;
}

li:hover {
    animation: fill 10s forwards;
}

a {
    text-decoration: none;
    color: rgb(1, 66, 15);
}

@keyframes fill {
    1% {
        background-color: rgb(2, 172, 2);
    }
}